<?xml version="1.0"?>
<config>
	<modules>
		<VladimirPopov_WebFormsCRF>
			<version>1.3.8</version>
		</VladimirPopov_WebFormsCRF>
	</modules>
	<frontend>
		<layout>
			<updates>
				<webformscrf>
					<file>webformscrf.xml</file>
				</webformscrf>
			</updates>
		</layout>
		<translate>
			<modules>
				<VladimirPopov_WebFormsCRF>
					<files>
						<default>VladimirPopov_WebFormsCRF.csv</default>
					</files>
				</VladimirPopov_WebFormsCRF>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<webformscrf>
				<use>admin</use>
				<args>
					<module>VladimirPopov_WebFormsCRF</module>
					<frontName>webformscrf</frontName>
				</args>
			</webformscrf>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<webformscrf>
											<title>Web-forms: Customer Registration Form Configuration</title>
										</webformscrf>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>		
		<translate>
			<modules>
				<VladimirPopov_WebFormsCRF>
					<files>
						<default>VladimirPopov_WebFormsCRF.csv</default>
					</files>
				</VladimirPopov_WebFormsCRF>
			</modules>
		</translate>
	</adminhtml>
	<global>
		<models>
			<webformscrf>
				<class>VladimirPopov_WebFormsCRF_Model</class>
			</webformscrf>
		</models>
		<helpers>
			<webformscrf>
				<class>VladimirPopov_WebFormsCRF_Helper</class>
			</webformscrf>
		</helpers>
		<blocks>
			<adminhtml>
				<rewrite>
					<customer_edit_tab_account>VladimirPopov_WebFormsCRF_Block_Adminhtml_Account</customer_edit_tab_account>
				</rewrite>
				<rewrite>
					<customer_edit_form>VladimirPopov_WebFormsCRF_Block_Adminhtml_Form</customer_edit_form>
				</rewrite>
			</adminhtml>
			<webformscrf>
				<class>VladimirPopov_WebFormsCRF_Block</class>
			</webformscrf>
			<customer>
				<rewrite>
					<form_register>VladimirPopov_WebFormsCRF_Block_Form_Register</form_register>
				</rewrite>
			</customer>
			<customer>
				<rewrite>
					<form_edit>VladimirPopov_WebFormsCRF_Block_Form_Edit</form_edit>
				</rewrite>
			</customer>
			<checkout>
				<rewrite>
					<onepage_billing>VladimirPopov_WebFormsCRF_Block_Onepage_Billing</onepage_billing>
				</rewrite>
			</checkout>
			<adminhtml>
				<rewrite>
					<customer_group_edit_form>VladimirPopov_WebFormsCRF_Block_Adminhtml_Group</customer_group_edit_form>
				</rewrite>
			</adminhtml>
		</blocks>
		<events>
			<customer_load_after>
				<observers>
					<webformscrf_customer_load_after>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsCRF_Model_Observer</class>
						<method>customerAfterLoad</method>
					</webformscrf_customer_load_after>
				</observers>
			</customer_load_after>
			<customer_save_after>
				<observers>
					<webformscrf_customer_register_success>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsCRF_Model_Observer</class>
						<method>customerAfterSave</method>
					</webformscrf_customer_register_success>
				</observers>
			</customer_save_after>
			<adminhtml_customer_save_after>
				<observers>
					<webformscrf_adminhtml_customer_save_after>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsCRF_Model_Observer</class>
						<method>adminhtmlCustomerAfterSave</method>
					</webformscrf_adminhtml_customer_save_after>
				</observers>
			</adminhtml_customer_save_after>
			<webforms_direct_available>
				<observers>
					<webformscrf_direct_available>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsCRF_Model_Observer</class>
						<method>isDirectAvailable</method>
					</webformscrf_direct_available>
				</observers>
			</webforms_direct_available>
			<customer_group_save_after>	
				<observers>
					<webforms_group_save>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsCRF_Model_Observer</class>
						<method>groupSave</method>
					</webforms_group_save>
				</observers>
			</customer_group_save_after>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<webformscrf_controller_action_layout_generate_blocks_after>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsCRF_Model_Observer</class>
						<method>addAssets</method>
					</webformscrf_controller_action_layout_generate_blocks_after>
				</observers>
			</controller_action_layout_generate_blocks_after>
			<webforms_adminhtml_webforms_edit_tab_settings_prepare_form>
				<observers>
					<webformscrf_add_settings>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsCRF_Model_Observer</class>
						<method>addSettings</method>
					</webformscrf_add_settings>
				</observers>
			</webforms_adminhtml_webforms_edit_tab_settings_prepare_form>
            <webforms_after_save>
                <observers>
                    <webformscrf_after_save>
                        <type>singleton</type>
                        <class>VladimirPopov_WebFormsCRF_Model_Observer</class>
                        <method>formAfterSave</method>
                    </webformscrf_after_save>
                </observers>
            </webforms_after_save>
            <webforms_after_load>
                <observers>
                    <webformscrf_after_load>
                        <type>singleton</type>
                        <class>VladimirPopov_WebFormsCRF_Model_Observer</class>
                        <method>formAfterLoad</method>
                    </webformscrf_after_load>
                </observers>
            </webforms_after_load>
		</events>
		<resources>
			<webformscrf_setup>
				<setup>
					<module>VladimirPopov_WebFormsCRF</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</webformscrf_setup>
			<webformscrf_write>
				<connection>
					<use>core_write</use>
				</connection>
			</webformscrf_write>
			<webformscrf_read>
				<connection>
					<use>core_read</use>
				</connection>
			</webformscrf_read>
		</resources>
	</global>
</config>