.points-notice-msg
{
    background: scroll 10px 10px lemonchiffon !important;
    border: 1px solid #95A486 !important;
    color: #3D6611 !important;
    padding: 10px;
    font-size: 11px;
}