<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Gallery>
            <version>0.1.0</version>
        </Magestore_Gallery>
    </modules>
    <frontend>
        <routers>
            <gallery>
                <use>standard</use>
                <args>
                    <module>Magestore_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>		
        <layout>
            <updates>
                <gallery>
                    <file>designidea.xml</file>
                </gallery>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<gallery_admin>
				<use>admin</use>
				<args>
					<module>Magestore_Gallery</module>
					<frontName>gallery_admin</frontName>
				</args>
			</gallery_admin>
        </routers>
    </admin>
    <adminhtml>		
		<layout>
			<updates>
				<gallery>
					<file>designidea.xml</file>
				</gallery>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <gallery>
                <class>Magestore_Gallery_Model</class>
                <resourceModel>gallery_mysql4</resourceModel>
            </gallery>
            <gallery_mysql4>
                <class>Magestore_Gallery_Model_Mysql4</class>
                <entities>
                    <gallery>
                        <table>magestore_designidea</table>
                    </gallery>
                    <album>
                        <table>magestore_designidea_category</table>
                    </album>
                </entities>
            </gallery_mysql4>
		</models>
        <resources>
            <gallery_setup>
                <setup>
                    <module>Magestore_Gallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gallery_setup>
            <gallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gallery_write>
            <gallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gallery_read>
        </resources>
        <blocks>
            <gallery>
                <class>Magestore_Gallery_Block</class>
            </gallery>
        </blocks>
        <helpers>
            <gallery>
                <class>Magestore_Gallery_Helper</class>
            </gallery>
        </helpers>
    </global>
	<default>
		<gallery>
			<info>
				<enabled>1</enabled>
				<album_suffix>.html</album_suffix>
				<photo_suffix>.html</photo_suffix>
			</info>
		</gallery>
	</default>
</config>