<?xml version="1.0"?>
<config>
	<modules>
		<Openstream_TagNotifications>
			<version>0.2.1</version>
		</Openstream_TagNotifications>
	</modules>
    <global>
		<helpers>
			<tagnotifications>
				<class>Openstream_TagNotifications_Helper</class>
			</tagnotifications>
		</helpers>
		<template>
			<email>
				<tagnotifications_admin_notification_email_template translate="label" module="tagnotifications">
					<label>New tag notification (admin)</label>
					<file>tagnotifications_admin_notification_template.html</file>
					<type>html</type>
				</tagnotifications_admin_notification_email_template>
			</email>
		</template>
	</global>
    <frontend>
    	<events>
			<tag_save_before>
				<observers>
					<openstream_tagnotifications_observer>
						<type>singleton</type>
						<class>Openstream_TagNotifications_Model_Observer</class>
						<method>sendNewTagsNotification</method>
					</openstream_tagnotifications_observer>
				</observers>
			</tag_save_before>
		</events>
    </frontend>
</config>
