<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_Ajaxcatalog>
            <version>1.0.5</version><platform>ce</platform>
        </AW_Ajaxcatalog>
    </modules>
    <global>
        <blocks>
            <awajaxcatalog>
                <class>AW_Ajaxcatalog_Block</class>
            </awajaxcatalog>
        </blocks>
        <helpers>
            <awajaxcatalog>
                <class>AW_Ajaxcatalog_Helper</class>
            </awajaxcatalog>
        </helpers>
        <models>
            <awajaxcatalog>
                <class>AW_Ajaxcatalog_Model</class>
            </awajaxcatalog>
        </models>       
        <resources>
            <awajaxcatalog_setup>
                <setup>
                    <module>AW_Ajaxcatalog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awajaxcatalog_setup>
            <awajaxcatalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awajaxcatalog_write>
            <awajaxcatalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awajaxcatalog_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <awajaxcatalog>
                <use>standard</use>
                <args>
                    <module>AW_Ajaxcatalog</module>
                    <frontName>awajaxcatalog</frontName>
                </args>
            </awajaxcatalog>
        </routers>
        <layout>
            <updates>
                <awajaxcatalog>
                    <file>awajaxcatalog.xml</file>
                </awajaxcatalog>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Ajaxcatalog>
                    <files>
                        <default>AW_Ajaxcatalog.csv</default>
                    </files>
                </AW_Ajaxcatalog>
            </modules>
        </translate>  
        <events>
<!--            <core_layout_block_create_after>
                <observers>
                    <awajaxcatalog_create_block>
                        <type>singleton</type>
                        <class>awajaxcatalog/observer</class>
                        <method>createBlock</method>
                    </awajaxcatalog_create_block>                    
                </observers>
            </core_layout_block_create_after>-->
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <awajaxcatalog_generate_blocks_after>
                        <type>singleton</type>
                        <class>awajaxcatalog/observer</class>
                        <method>generateBlocksAfter</method>
                    </awajaxcatalog_generate_blocks_after>                    
                </observers>                
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awajaxcatalog>
                                            <title>aheadWorks - Ajax Catalog</title>
                                        </awajaxcatalog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <AW_Ajaxcatalog>
                    <files>
                        <default>AW_Ajaxcatalog.csv</default>
                    </files>
                </AW_Ajaxcatalog>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <awajaxcatalog>
            <general>
                <enabled>0</enabled>
            </general>
        </awajaxcatalog>
    </default>    
    
</config>
