<?xml version="1.0"?>
		
<config>
	<modules>
		<Itoris_QuickBuy>
			<version>1.1.11</version>
		</Itoris_QuickBuy>
	</modules>

	<admin>
		<routers>
			<itoris_quickbuy>
				<use>admin</use>
				<args>
					<module>Itoris_QuickBuy</module>
					<frontName>itoris_quickbuy</frontName>
				</args>
			</itoris_quickbuy>
		</routers>
	</admin>

	<adminhtml>
		<layout>
			<updates>
				<itoris_quickbuy>
					<file>itoris_quickbuy.xml</file>
				</itoris_quickbuy>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_QuickBuy>
					<files>
						<default>Itoris_QuickBuy.csv</default>
					</files>
				</Itoris_QuickBuy>
			</modules>
		</translate>
		<menu>
		  <system>
			  <children>
				<itoris_extensions>
					<children>
						<itoris_quickbuy translate="title" module="itoris_quickbuy">
							<title>Quick Buy</title>
							<action>itoris_quickbuy/admin_settings</action>
						</itoris_quickbuy>
					</children>
				</itoris_extensions>
			  </children>
		  </system>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<itoris_extensions>
									<children>
										<itoris_quickbuy translate="title" module="itoris_quickbuy">
											<title>Quick Buy</title>
										</itoris_quickbuy>
									</children>
								</itoris_extensions>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>

	<frontend>
		<routers>
			<quickbuy>
				<use>standard</use>
				<args>
					<module>Itoris_QuickBuy</module>
					<frontName>quickbuy</frontName>
				</args>
			</quickbuy>
		</routers>
		<layout>
			<updates>
				<itoris_quickbuy>
					<file>itoris_quickbuy.xml</file>
				</itoris_quickbuy>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_QuickBuy>
					<files>
						<default>Itoris_QuickBuy.csv</default>
					</files>
				</Itoris_QuickBuy>
			</modules>
		</translate>
	</frontend>

	<global>
		<blocks>
			<itoris_quickbuy>
				<class>Itoris_QuickBuy_Block</class>
			</itoris_quickbuy>
		</blocks>
		<models>
			<itoris_quickbuy>
				<class>Itoris_QuickBuy_Model</class>
			</itoris_quickbuy>
		</models>
		<helpers>
			<itoris_quickbuy>
				<class>Itoris_QuickBuy_Helper</class>
			</itoris_quickbuy>
		</helpers>
		<resources>
            <itoris_quickbuy_setup>
                <setup>
                    <module>Itoris_QuickBuy</module>
                    <class>Itoris_QuickBuy_Model_Mysql4_Setup</class>
                </setup>
				<connection>
                    <use>core_setup</use>
                </connection>
            </itoris_quickbuy_setup>

			<itoris_quickbuy_write>
		        <connection>
		          <use>core_write</use>
		        </connection>
	        </itoris_quickbuy_write>

	       <itoris_quickbuy_read>
		        <connection>
		          <use>core_read</use>
		        </connection>
	       </itoris_quickbuy_read>
        </resources>
		<events>
			<catalog_product_save_after>
				<observers>
					<itoris_quickbuy_observer>
						<class>itoris_quickbuy/observer</class>
						<method>clearCache</method>
					</itoris_quickbuy_observer>
				</observers>
			</catalog_product_save_after>
		</events>
	</global>
</config>