<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
  <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
    <tr>
      <td align="center" valign="top">
        <!-- [ header starts here] -->
          <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
              <td valign="top">
                <p>
                  <a href="{{config path="web/secure/base_url"}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo.gif" _area='frontend'}}" alt="Magento" border="0"/></a>
                </p>
              </td>
            </tr>
            <tr>
              <td valign="top">
				<p>{{config path="general/store_information/name"}}<br>{{config path="general/store_information/address"}}</p>
              </td>
            </tr>
          </table>
          <!-- [ middle starts here] -->
         
<div class="Section1">
	<div style="margin-left: 7.5pt;">
		<table width="100%" cellspacing="0" cellpadding="0" border="0" style="width: 100%;" class="MsoNormalTable">
			<tbody><tr><td style="padding: 0px;">
						<div>Dear </div>
						<div><p class="MsoNormal">
						<span style="font-size: 15pt; font-weight: bold; color: rgb(51, 51, 102);">
							Wow, what a great-looking design! </span></p></div>
						<div>
					<p class="MsoNormal"><span style="font-size: 10.5pt; color: rgb(51, 51, 102);">Here is a handy link to return to your design: <a href="{{var path}}"><span style="font-weight: bold;">{{var design_name}}</span></a></span></p></div>
<div><p class="MsoNormal"><span style="font-size: 10.5pt; color: rgb(51, 51, 102);">The fun is just beginning, here are some of the things you can do <br />with <a href="{{var path}}">your design</a></span></p></div>
				</div><div>&nbsp;</div></td></tr>
<tr><td valign="top" align="center" style="padding: 0px;" colspan="2"></td></tr>
<tr>
<td align="left"style="padding: 0px;">					
						{{var images}}
</td>
</tr>
<tr>
<td style="padding: 0px;">
						<div>From </div>
						{{var sendername}}
<div>

</td>
</tr>
</tbody>
</table>
</div>
</div>
</body>