<?xml version="1.0"?>
<!--
/**
 * i95Dev.com
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.i95dev.com/LICENSE-M1.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to sub@i95dev.com so we can send you a copy immediately.
 *
 * @category    I95DevConnect
 * @package     I95DevConnect_Errorreport
 * @Description 
 * @author      i95Dev
 * @copyright   Copyright (c) 2013 i95Dev
 * @license     http://store.i95dev.com/LICENSE-M1.txt
 */
-->
<config>
    <tabs>
        <i95dev_connect_extensions translate="label" >
            <label>I95Dev Extensions</label>
            <sort_order>10000000000</sort_order>
        </i95dev_connect_extensions>
    </tabs>
    <sections>
        <errorreport translate="label">
            <class>separator-top</class>
            <label>I95Dev Error Report</label>
            <tab>i95dev_connect_extensions</tab>
            <sort_order>10000000000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <errorreport_option translate="label">
                    <label>Error Report Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>16</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>                    
                       <enable_plugin translate="label"> <label>Enable(Extension)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>To enable or disable the extension.</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_plugin>            
                    </fields>
                 </errorreport_option>
            </groups>
        </errorreport>
    </sections>
</config> 