#row_shoppersettings_appearance_option_divider {}
#row_shoppersettings_appearance_option_divider td,
#row_shoppersettings_appearance_option_divider td.value,
#row_shoppersettings_appearance_option_divider td.scope-label,
#row_shoppersettings_appearance_option_divider td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_shoppersettings_appearance_option_divider td.scope-label {font-size:.9em ;}

#row_shoppersettings_appearance_option_divider1 {}
#row_shoppersettings_appearance_option_divider1 td,
#row_shoppersettings_appearance_option_divider1 td.value,
#row_shoppersettings_appearance_option_divider1 td.scope-label,
#row_shoppersettings_appearance_option_divider1 td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_shoppersettings_appearance_option_divider1 td.scope-label {font-size:.9em ;}

#row_shoppersettings_appearance_option_divider2 {}
#row_shoppersettings_appearance_option_divider2 td,
#row_shoppersettings_appearance_option_divider2 td.value,
#row_shoppersettings_appearance_option_divider2 td.scope-label,
#row_shoppersettings_appearance_option_divider2 td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_shoppersettings_appearance_option_divider2 td.scope-label {font-size:.9em ;}

#row_shoppersettings_appearance_option_divider3 {}
#row_shoppersettings_appearance_option_divider3 td,
#row_shoppersettings_appearance_option_divider3 td.value,
#row_shoppersettings_appearance_option_divider3 td.scope-label,
#row_shoppersettings_appearance_option_divider3 td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_shoppersettings_appearance_option_divider3 td.scope-label {font-size:.9em ;}

#row_shoppersettings_appearance_option_divider4 {}
#row_shoppersettings_appearance_option_divider4 td,
#row_shoppersettings_appearance_option_divider4 td.value,
#row_shoppersettings_appearance_option_divider4 td.scope-label,
#row_shoppersettings_appearance_option_divider4 td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_shoppersettings_appearance_option_divider4 td.scope-label {font-size:.9em ;}

#row_shoppersettings_appearance_option_divider5 {}
#row_shoppersettings_appearance_option_divider5 td,
#row_shoppersettings_appearance_option_divider5 td.value,
#row_shoppersettings_appearance_option_divider5 td.scope-label,
#row_shoppersettings_appearance_option_divider5 td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_shoppersettings_appearance_option_divider5 td.scope-label {font-size:.9em ;}