<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* i95Dev.com
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://store.i95dev.com/LICENSE-M1.txt
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to support@i95dev.com so we can send you a copy immediately.
*
* @category       I95DevConnect  
* @package        I95DevConnect_Base
* @Description
* @author         I95Dev
* @copyright      Copyright (c) 2013 i95Dev
* @license        http://store.i95dev.com/LICENSE-M1.txt
*/


-->
<config>
    <modules>
        <I95DevConnect_Custom>
            <version>0.1.0</version>
        </I95DevConnect_Custom>
    </modules>
    <frontend>
        <routers>
            <Custom>
                <use>standard</use>
                <args>
                    <module>I95DevConnect_Custom</module>
                    <frontName>customconnect</frontName>
                </args>
            </Custom>
        </routers>
        <layout>
            <updates>
                <Custom>
                    <file>gold.xml</file>
                </Custom>
            </updates>
        </layout>
    </frontend>
    <global>

        <helpers>
            <i95devconnect_Custom>
                <class>I95DevConnect_Custom_Helper</class>
            </i95devconnect_Custom>
        </helpers>
        <blocks>
			
        </blocks>
        <models>
            <I95DevConnect_Custom>
                <class>I95DevConnect_Custom_Model</class>
            </I95DevConnect_Custom>
            <I95DevConnect_Platinum>
            <rewrite>
             <Customer_Customer6>I95DevConnect_Custom_Model_Customer_Customer6</Customer_Customer6>
           </rewrite>
           </I95DevConnect_Platinum>
        </models>
        <resources>
            <Custom_setup>
                <setup>
                    <module>I95DevConnect_Custom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Custom_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <Custom>
                    <file>Customadmin.xml</file>
                </Custom>
            </updates>
        </layout>
    </adminhtml>
</config>