<?xml version="1.0"?>
<config>
    <modules>
        <AW_Catalogpermissions>
            <version>1.3.0</version><platform>ce</platform>
        </AW_Catalogpermissions>
    </modules>
    <global>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <catalogpermissions>
                        <class>catalogpermissions/observer</class>
                        <method>checkBlock</method>
                    </catalogpermissions>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <resources>
            <catalogpermissions_setup>
                <setup>
                    <module>AW_Catalogpermissions</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </catalogpermissions_setup>
            <catalogpermissions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </catalogpermissions_write>
            <catalogpermissions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </catalogpermissions_read>
        </resources>
        <models>
            <catalogpermissions>
                <class>AW_Catalogpermissions_Model</class>
                <resourceModel>catalogpermissions_mysql4</resourceModel>
            </catalogpermissions>
        </models>
        <blocks>
            <catalogpermissions>
                <class>AW_Catalogpermissions_Block</class>
            </catalogpermissions>
            <catalog>
                <rewrite></rewrite>
                <catalogpermissions_treesitemap>
                    <seo_sitemap_tree_pager>AW_Catalogpermissions_Block_Sitemap_Tree_Pager</seo_sitemap_tree_pager>
                    <seo_sitemap_tree_category>AW_Catalogpermissions_Block_Sitemap_Tree_Category</seo_sitemap_tree_category>
                </catalogpermissions_treesitemap>
            </catalog>
        </blocks>
        <helpers>
            <catalogpermissions>
                <class>AW_Catalogpermissions_Helper</class>
            </catalogpermissions>
        </helpers>
        <cache>
            <types>
                <catalogpermissions translate="label,description" module="AW_Catalogpermissions">
                    <label>Catalog Permissions cache</label>
                    <description>Disabled products and categories by customer group</description>
                    <tags>CATALOG_PERMISSIONS</tags>
                </catalogpermissions>
            </types>
        </cache>
    </global>
    <frontend>
        <layout>
            <updates>
                <aw_catalogpermissions>
                    <file>aw_catalogpermission.xml</file>
                </aw_catalogpermissions>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Collpur>
                    <files>
                        <default>AW_Catalogpermissions.csv</default>
                    </files>
                </AW_Collpur>
            </modules>
        </translate>
        <events>
            <catalog_controller_category_init_before>
                <observers>
                    <catalogpermissions>
                        <class>catalogpermissions/observer</class>
                        <method>categoryControllerBeforeInit</method>
                    </catalogpermissions>
                </observers>
            </catalog_controller_category_init_before>
            <catalog_product_collection_load_before>
                <observers>
                    <catalogpermissions>
                        <class>catalogpermissions/observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </catalogpermissions>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_product_is_salable_before>
                <observers>
                    <catalogpermissions>
                        <class>catalogpermissions/observer</class>
                        <method>catalogProductisSalableBefore</method>
                    </catalogpermissions>
                </observers>
            </catalog_product_is_salable_before>
            <review_controller_product_init>
                <observers>
                    <catalogpermissions>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>catalogProductReview</method>
                    </catalogpermissions>
                </observers>
            </review_controller_product_init>
            <catalog_controller_product_view>
                <observers>
                    <catalogpermissions>
                        <class>catalogpermissions/observer</class>
                        <method>catalogProductView</method>
                    </catalogpermissions>
                </observers>
            </catalog_controller_product_view>
            <catalog_category_collection_load_before>
                <observers>
                    <catalogpermissions>
                        <class>catalogpermissions/observer</class>
                        <method>catalogCategoryCollectionLoadBefore</method>
                    </catalogpermissions>
                </observers>
            </catalog_category_collection_load_before>
            <controller_action_predispatch>
                <observers>
                    <front_controller_predispatch>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>controllerActionPredispatch</method>
                    </front_controller_predispatch>
                </observers>
            </controller_action_predispatch>
            <catalog_category_tree_init_inactive_category_ids>
                <observers>
                    <front_controller_predispatch>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>pageTree</method>
                    </front_controller_predispatch>
                </observers>
            </catalog_category_tree_init_inactive_category_ids>
            <catalog_product_collection_apply_limitations_after>
                <observers>
                    <front_controller_predispatch>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>applyCatalogLimitations</method>
                    </front_controller_predispatch>
                </observers>
            </catalog_product_collection_apply_limitations_after>
            <wishlist_item_collection_products_after_load>
                <observers>
                    <front_controller_predispatch>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>wishlistAfterLoad</method>
                    </front_controller_predispatch>
                </observers>
            </wishlist_item_collection_products_after_load>
            <wishlist_items_renewed>
                <observers>
                    <catalogpermission_wishlist_count>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>wishlistItemsRenewed</method>
                    </catalogpermission_wishlist_count>
                </observers>
            </wishlist_items_renewed>
            <catalog_product_is_salable_after>
                <observers>
                    <front_controller_predispatch>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>salableAfter</method>
                    </front_controller_predispatch>
                </observers>
            </catalog_product_is_salable_after>
            <core_collection_abstract_load_before>
                <observers>
                    <catalogpermissions>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>abstractCollectionBeforeLoad</method>
                    </catalogpermissions>
                </observers>
            </core_collection_abstract_load_before>


            <!-- Events for handling price disabling -->
            <core_block_abstract_to_html_before>
                <observers>
                    <catalogpermissions>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>blockAbstractToHtmlBefore</method>
                    </catalogpermissions>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <catalogpermissions>
                        <type>singleton</type>
                        <class>catalogpermissions/observer</class>
                        <method>blockAbstractToHtmlAfter</method>
                    </catalogpermissions>
                </observers>
            </core_block_abstract_to_html_after>
            <!--                                    -->
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <catalogpermissions>
                                            <title>aheadWorks - Catalog Permissions</title>
                                        </catalogpermissions>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <AW_Collpur>
                    <files>
                        <default>AW_Catalogpermissions.csv</default>
                    </files>
                </AW_Collpur>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_adminhtml_catalog_product_save>
                <observers>
                    <catalogpermissions_predispatch>
                        <class>catalogpermissions/adminhtmlObserver</class>
                        <method>catalogProductSave</method>
                    </catalogpermissions_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_save>
            <controller_action_postdispatch_adminhtml_cache_massEnable>
                <observers>
                    <catalogpermissions_massenable_postdispatch>
                        <class>catalogpermissions/adminhtmlObserver</class>
                        <method>massenablePostdispatch</method>
                    </catalogpermissions_massenable_postdispatch>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_massEnable>
            <controller_action_postdispatch_adminhtml_cache_massRefresh>
                <observers>
                    <catalogpermissions_massrefresh_postdispatch>
                        <class>catalogpermissions/adminhtmlObserver</class>
                        <method>massrefreshPostdispatch</method>
                    </catalogpermissions_massrefresh_postdispatch>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_massRefresh>
            <controller_action_postdispatch_adminhtml_catalog_category_save>
                <observers>
                    <catalogpermissions_category_preparesave>
                        <class>catalogpermissions/cache</class>
                        <method>categoryPrepareSave</method>
                    </catalogpermissions_category_preparesave>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_category_save>
            <!--
             <controller_action_postdispatch_adminhtml_catalog_product_save>
                <observers> 
                    <catalogpermissions_product_saveafter>
                        <class>catalogpermissions/cache</class>
                        <method>productSaveAfter</method>
                    </catalogpermissions_product_saveafter>
                </observers>                 
            </controller_action_postdispatch_adminhtml_catalog_product_save>
            -->
            <controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <catalogpermissions_massupdate_preparesave>
                        <class>catalogpermissions/cache</class>
                        <method>massAttributesUpdate</method>
                    </catalogpermissions_massupdate_preparesave>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
            <model_save_after>
                <observers>
                    <catalogpermissions_abstract_model_save_before>
                        <class>catalogpermissions/adminhtmlObserver</class>
                        <method>abstractModelSaveAfter</method>
                    </catalogpermissions_abstract_model_save_before>
                </observers>
            </model_save_after>
        </events>
    </adminhtml>
    <default>
        <catalogpermissions>
            <general>
                <hide_price_for_group>0</hide_price_for_group>
            </general>
        </catalogpermissions>
    </default>
</config>
