<?xml version="1.0"?>
<!--
/**
 * i95Dev.com
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.i95dev.com/LICENSE-M1.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to sub@i95dev.com so we can send you a copy immediately.
 *
 * @category       I95DevConnect
 * @package        I95DevConnect_Configsettings
 * @Description    
 * @author         I95Dev
 * @copyright      Copyright (c) 2013 i95Dev
 * @license        http://store.i95dev.com/LICENSE-M1.txt
 */
-->
<config>
    <modules>
        <I95DevConnect_Configsettings>
            <version>0.1.0</version>
        </I95DevConnect_Configsettings>
    </modules>
    <frontend>
	<routers>
            <configsettings>
                <use>standard</use>
                <args>
                    <module>I95DevConnect_Configsettings</module>
                    <frontName>configsettings</frontName>
                </args>
            </configsettings>
        </routers> 
    </frontend>
      <admin>
          <routers>
             <adminhtml>
                <args>
                   <modules>
                      <I95DevConnect_Configsettings_Adminhtml before="Mage_Adminhtml">I95DevConnect_Configsettings_Adminhtml</I95DevConnect_Configsettings_Adminhtml>
                   </modules>
                </args>
             </adminhtml>
          </routers>
    </admin>
     <adminhtml>

    		<layout>
			<updates>
				<gpstatus>
					<file>configsettings.xml</file>
				</gpstatus>
			</updates>
		</layout>
        
    </adminhtml>  
    
     <global>
     <blocks>

            <configsettings>
                <class>I95DevConnect_Configsettings_Block</class>
            </configsettings>
     <adminhtml>
                <rewrite>
                    <System_Config_Tabs>I95DevConnect_Configsettings_Block_Adminhtml_System_Config_Tabs</System_Config_Tabs>
                </rewrite>
              </adminhtml>
     
     </blocks>
      <models>
            <i95devconnect_configsettings>
                <class>I95DevConnect_Configsettings_Model</class>
            </i95devconnect_configsettings>
            </models>
            <helpers>
			<i95devconnect_configsettings>
				<class>I95DevConnect_Configsettings_Helper</class>
			</i95devconnect_configsettings>
		</helpers>
      </global>
      <adminhtml>
      <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<i95devconnect_configsettings>
											<title>I95Dev Config Settings</title>
										</i95devconnect_configsettings>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
      
      </adminhtml>

</config>