<?xml version="1.0"?>
<config>

    <modules>
        <AW_Points>
            <version>1.6.2</version><platform>ce</platform>
        </AW_Points>
    </modules>

    <global>
        <blocks>
            <points>
                <class>AW_Points_Block</class>
            </points>
            <adminhtml>
                <rewrite>
                    <sales_order_create_billing_method_form>AW_Points_Block_Adminhtml_Sales_Order_Create_Billing_Method_Form</sales_order_create_billing_method_form>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    
                </rewrite>
                <drewrite>
                    <onepage_payment_methods>AW_Points_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                </drewrite>
            </checkout>
            <sales>
                <rewrite>

                </rewrite>
                <drewrite>
                    
                    <order_items>AW_Points_Block_Sales_Order_Items</order_items>
                    <order_invoice_items>AW_Points_Block_Sales_Order_Invoice_Items</order_invoice_items>
                    <order_creditmemo_items>AW_Points_Block_Sales_Order_Creditmemo_Items</order_creditmemo_items>
                    <order_print>AW_Points_Block_Sales_Order_Print</order_print>
                    <order_print_invoice>AW_Points_Block_Sales_Order_Print_Invoice</order_print_invoice>
                    <order_print_creditmemo>AW_Points_Block_Sales_Order_Print_Creditmemo</order_print_creditmemo>
                    <order_email_items>AW_Points_Block_Sales_Order_Email_Items</order_email_items>
                    <order_email_invoice_items>AW_Points_Block_Sales_Order_Email_Invoice_Items</order_email_invoice_items>
                    <order_email_creditmemo_items>AW_Points_Block_Sales_Order_Email_Creditmemo_Items</order_email_creditmemo_items>
                    
                </drewrite>
            </sales>
        </blocks>
        <models>
            <sales>                 
                <rewrite>
                    <order_invoice_item>AW_Points_Model_Sales_Order_Invoice_Item</order_invoice_item>
                </rewrite>                       
            </sales>
            <newsletter>
                <rewrite>
                   
                </rewrite>
                <drewrite>
                    <subscriber>AW_Points_Model_Newsletter_Subscriber</subscriber>
                </drewrite>                
            </newsletter>
            <paypal>
                <rewrite>

                </rewrite>
                <drewrite>
                    <standard>AW_Points_Model_Paypal_Standard</standard>
                </drewrite>
            </paypal>
            <points>
                <class>AW_Points_Model</class>
                <resourceModel>points_mysql4</resourceModel>
            </points>
            <points_mysql4>
                <class>AW_Points_Model_Mysql4</class>
                <entities>
                    <transaction>
                        <table>aw_points_transaction</table>
                    </transaction>
                    <transaction_orderspend>
                        <table>aw_points_transaction_orderspend</table>
                    </transaction_orderspend>
                    <summary>
                        <table>aw_points_summary</table>
                    </summary>
                    <rule>
                        <table>aw_points_rule</table>
                    </rule>
                    <rate>
                        <table>aw_points_rate</table>
                    </rate>
                    <invitation>
                        <table>aw_points_invitatioin</table>
                    </invitation>
                    <limitation>
                        <table>aw_points_limitation</table>
                    </limitation>
                    <coupon>
                        <table>aw_points_coupon</table>
                    </coupon>
                    <coupon_transaction>
                        <table>aw_points_coupon_transaction</table>
                    </coupon_transaction>
                </entities>
            </points_mysql4>
        </models>
        <helpers>
            <points>
                <class>AW_Points_Helper</class>
            </points>
        </helpers>
        <template>
            <email>
                <points_notifications_template translate="label" module="points">
                    <label>Points and Rewards Invitation</label>
                    <file>aw_points/points_invitation.html</file>
                    <type>html</type>
                </points_notifications_template>
                <points_notifications_balance_update_template translate="label" module="points">
                    <label>Points and Rewards Balance Update</label>
                    <file>aw_points/balance_update.html</file>
                    <type>html</type>
                </points_notifications_balance_update_template>
                <points_notifications_points_expire_template translate="label" module="points">
                    <label>Points and Rewards Expiration Warning</label>
                    <file>aw_points/expiration_warning.html</file>
                    <type>html</type>
                </points_notifications_points_expire_template>
                <points_notifications_points_customer_birthday_template translate="label" module="points">
                    <label>Points and Rewards Customer Birthday</label>
                    <file>aw_points/birthday_notification.html</file>
                    <type>html</type>
                </points_notifications_points_customer_birthday_template>
            </email>
        </template>
        <resources>
            <points_setup>
                <setup>
                    <module>AW_Points</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </points_setup>
            <points_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </points_write>
            <points_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </points_read>
        </resources>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <points_checkout_success>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>quoteDistroy</method>
                    </points_checkout_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_order_place_before>
                <observers>
                    <points_order_place_before>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>orderPlaceBefore</method>
                    </points_order_place_before>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <points_order_place_after>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>orderPlaceAfter</method>
                    </points_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_load_after>
                <observers>
                    <points_add_on_order_load>
                        <class>points/observer</class>
                        <method>orderLoadAfter</method>
                    </points_add_on_order_load>
                </observers>
            </sales_order_load_after>
            <sales_order_invoice_load_after>
                <observers>
                    <points_add_on_order_invoice_load>
                        <class>points/observer</class>
                        <method>invoiceLoadAfter</method>
                    </points_add_on_order_invoice_load>
                </observers>
            </sales_order_invoice_load_after>
            <sales_order_creditmemo_load_after>
                <observers>
                    <points_add_on_order_creditmemo_load>
                        <class>points/observer</class>
                        <method>creditmemoLoadAfter</method>
                    </points_add_on_order_creditmemo_load>
                </observers>
            </sales_order_creditmemo_load_after>
            <sales_order_invoice_pay>
                <observers>
                    <points_invoice_pay_observer>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>invoicePay</method>
                    </points_invoice_pay_observer>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_creditmemo_refund>
                 <observers>
                    <points_refund_order_after>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>orderRefund</method>
                    </points_refund_order_after>
                </observers>                
            </sales_order_creditmemo_refund>
            <sales_quote_payment_import_data_before>
                <observers>
                    <aw_points_add_points>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>paymentAddPoints</method>
                    </aw_points_add_points>
                </observers>
            </sales_quote_payment_import_data_before>
            <review_save_before>
                <observers>
                    <aw_points_add_points_for_review>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>addPointsForReview</method>
                    </aw_points_add_points_for_review>
                </observers>
            </review_save_before>            
            <model_save_after>
                <observers>
                    <aw_points_add_points_for_participate_in_poll>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>modelSaveAfter</method>
                    </aw_points_add_points_for_participate_in_poll>
                </observers>
            </model_save_after>
            <adminhtml_customer_prepare_save>
                <observers>
                    <aw_points_update_points>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>updatePointsFromCustomerEdit</method>
                    </aw_points_update_points>
                    <aw_points_save_subscription>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>updatePointsNotificationFromCustomerEdit</method>
                    </aw_points_save_subscription>
                </observers>
            </adminhtml_customer_prepare_save>
           
            <controller_action_predispatch>
                <observers>
                    <global_controller_predispatch>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>pageLoadBeforeGlobal</method>
                    </global_controller_predispatch>
                   
                    <subscriber_model_rewrite>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>subscriberModelDRewrite</method>
                    </subscriber_model_rewrite>
                   
                </observers>
            </controller_action_predispatch>
           
            
            <aw_points_vt_added>
                <observers>
                    <aw_points_add_points_for_video_testimonial>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>addPointsForVideoTestimonial</method>
                    </aw_points_add_points_for_video_testimonial>
                </observers>
            </aw_points_vt_added>
            
        </events>
        <sales>
            <quote>
                <totals>
                    <points> 
                        <class>points/total_quote_points</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total</after>
                        <renderer>points/checkout_total</renderer>
                    </points>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <points>
                        <class>points/total_invoice_points</class>
                    </points>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <points>
                        <class>points/total_creditmemo_points</class>
                        <after>subtotal</after>
                    </points>
                </totals>
            </order_creditmemo>
        </sales>
    </global>

    <frontend>

        <translate>
            <modules>
                <AW_Points>
                    <files>
                        <default>AW_Points.csv</default>
                    </files>
                </AW_Points>
            </modules>
        </translate>

        <layout>
            <updates>
                <aw_points module="AW_Points">
                    <file>aw_points.xml</file>
                </aw_points>
            </updates>
        </layout>
        <routers>
            <points>
                <use>standard</use>
                <args>
                    <module>AW_Points</module>
                    <frontName>points</frontName>
                </args>
            </points>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <front_controller_predispatch>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>pageLoadBeforeFront</method>
                    </front_controller_predispatch>
                </observers>
            </controller_action_predispatch>
            <newsletter_subscriber_save_after>
                <observers>
                    <aw_points_add_points_for_subscription>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>addPointsForSubscription</method>
                    </aw_points_add_points_for_subscription>
                </observers>
            </newsletter_subscriber_save_after>
            <customer_save_after>
                <observers>
                    <customer_save_observer>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>customerSaveAfter</method>
                    </customer_save_observer>
                </observers>
            </customer_save_after>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_observer>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>paypalPrepare</method>
                    </paypal_observer>
                </observers>
            </paypal_prepare_line_items>
            <sales_quote_collect_totals_after>
                <observers>
                    <collect_totals_after_observer>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>checkIfQuoteIsFree</method>
                    </collect_totals_after_observer>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
        
        <secure_url>
            <points_index>/points/index/</points_index>
            <points_invitation>/points/invitation/</points_invitation>
            <points_reward>/points/reward/</points_reward>
        </secure_url>
        
    </frontend>

    <adminhtml>

        <translate>
            <modules>
                <AW_Points>
                    <files>
                        <default>AW_Points.csv</default>
                    </files>
                </AW_Points>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <points_generate_blocks_after>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>generateBlocksAfter</method>
                    </points_generate_blocks_after>
                </observers>               
            </core_block_abstract_to_html_after>
            <customer_save_after>
                <observers>
                    <subscribe_customer>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>subscribeForBalanceUpdate</method>
                    </subscribe_customer>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <aw_points_add_points_for_subscription>
                        <type>singleton</type>
                        <class>points/observer</class>
                        <method>addPointsForSubscriptionInAdminAdrea</method>
                    </aw_points_add_points_for_subscription>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
        <layout>
            <updates>
                <points>
                    <file>aw_points.xml</file>
                </points>
            </updates>
        </layout>
        <menu>
            <promo>
                <children>
                    <points>
                        <title>Points and Rewards</title>
                        <sort_order>150</sort_order>
                        <children>
                            <reward_rules>
                                <title>Reward Rules</title>
                                <sort_order>30</sort_order>
                                <action>points_admin/adminhtml_rule</action>
                            </reward_rules>
                            <transactions>
                                <title>Transactions</title>
                                <sort_order>50</sort_order>
                                <action>points_admin/adminhtml_transaction</action>
                            </transactions>
                            <points_rates>
                                <title>Points Rates</title>
                                <sort_order>70</sort_order>
                                <children>
                                    <earn_rate>
                                        <title>Earn Rate</title>
                                        <sort_order>10</sort_order>
                                        <action>points_admin/adminhtml_rate_earn</action>
                                    </earn_rate>
                                    <spend_rate>
                                        <title>Spend Rate</title>
                                        <sort_order>20</sort_order>
                                        <action>points_admin/adminhtml_rate_spend</action>
                                    </spend_rate>
                                </children>
                            </points_rates>
                            <coupons>
                                <title>Coupons</title>
                                <sort_order>90</sort_order>
                                <action>points_admin/adminhtml_coupon</action>
                            </coupons>
                            <points_configuration>
                                <title>Configuration</title>
                                <sort_order>100</sort_order>
                                <action>adminhtml/system_config/edit/section/points</action>
                            </points_configuration>
                        </children>
                    </points>
                </children>
            </promo>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <points>
                                            <title><![CDATA[aheadWorks - Points & Rewards Configuration]]>
                                            </title>
                                        </points>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <promo>
                            <children>
                                <points>
                                    <title>Points and Rewards</title>
                                    <sort_order>150</sort_order>
                                    <children>
                                        <reward_rules>
                                            <title>Reward Rules</title>
                                            <sort_order>30</sort_order>
                                            <action>points_admin/adminhtml_rule</action>
                                        </reward_rules>
                                        <transactions>
                                            <title>Transactions</title>
                                            <sort_order>50</sort_order>
                                            <action>points_admin/adminhtml_transaction</action>
                                        </transactions>
                                        <points_rates>
                                            <title>Points Rates</title>
                                            <sort_order>70</sort_order>
                                            <children>
                                                <earn_rate>
                                                    <title>Earn Rate</title>
                                                    <sort_order>10</sort_order>
                                                    <action>points_admin/adminhtml_rate/earn</action>
                                                </earn_rate>
                                                <spend_rate>
                                                    <title>Spend Rate</title>
                                                    <sort_order>20</sort_order>
                                                    <action>points_admin/adminhtml_rate/spend</action>
                                                </spend_rate>
                                            </children>
                                        </points_rates>
                                        <points_configuration>
                                            <title>Configuration</title>
                                            <sort_order>90</sort_order>
                                            <action>adminhtml/system_config/edit/section/points</action>
                                        </points_configuration>
                                        <coupons>
                                            <title>Coupons</title>
                                            <sort_order>100</sort_order>
                                            <action>points_admin/adminhtml_coupon</action>
                                        </coupons>
                                    </children>
                                </points>
                            </children>
                        </promo>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <admin>
        <routers>
            <points_admin>
                <use>admin</use>
                <args>
                    <module>AW_Points</module>
                    <frontName>points_admin</frontName>
                </args>
            </points_admin>
        </routers>
    </admin>

    <points_actions>
        <customer_birthday>points/actions_customerBirthday</customer_birthday>
        <customer_register>points/actions_customerRegister</customer_register>
        <order_invoiced>points/actions_orderInvoiced</order_invoiced>
        <order_refunded>points/actions_orderRefunded</order_refunded>
        <spend_on_order>points/actions_pointsSpendOnOrder</spend_on_order>
        <added_by_admin>points/actions_addedByAdmin</added_by_admin>
        <transaction_expired>points/actions_transactionExpired</transaction_expired>
        <invitee_registered>points/actions_inviteeRegister</invitee_registered>
        <order_invoiced_by_referral>points/actions_orderInvoicedByReferral</order_invoiced_by_referral>
        <review_approved>points/actions_reviewApproved</review_approved>
        <vidtest_approved>points/actions_vidtestApproved</vidtest_approved>
        <customer_subscription>points/actions_customerSubscription</customer_subscription>
        <customer_participate_in_poll>points/actions_customerParticipateInPoll</customer_participate_in_poll>
        <customer_tag_product>points/actions_customerTagProduct</customer_tag_product>
        <coupon_activation>points/actions_couponActivation</coupon_activation>
    </points_actions>

    <crontab>
        <jobs>
            <aw_points_clean_expirated_transaction>
                <schedule>
                    <cron_expr>1 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>points/cron::checkAndCleanExpiredTransactions</model>
                </run>
            </aw_points_clean_expirated_transaction>
            <aw_points_birthday_present>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>points/cron::addBirthdayTransactions</model>
                </run>
            </aw_points_birthday_present>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <AW_Points />
            </modules>
        </suite>
    </phpunit>
    <default>
        <!-- Magento 1.3 stub. Can be removeed at Magento >= 1.4 -->
        <sales>
            <totals_sort>
                <points>1000</points>
            </totals_sort>
        </sales>
        <!--Magento 1.3 stub end. -->
        <points>
            <general>
                <point_unit_name>Reward point(s)</point_unit_name>
                <apply_earn_rate>1</apply_earn_rate>
                <use_with_coupons>1</use_with_coupons>
                <calculate_points_order>1</calculate_points_order>
            </general>
            <earning_points>
                <consider_newsletter_signup_by_admin>0</consider_newsletter_signup_by_admin>
            </earning_points>
            <notifications>
                <point_before_expire_email_sent>7</point_before_expire_email_sent>
            </notifications>
            <referal_system_configuration>
                <enablerefsyst>1</enablerefsyst>
                <pointsfororder>2</pointsfororder><!--refer to AW_Points_Helper_Config constants-->
            </referal_system_configuration>
            <notifications>
                <enable>1</enable>
                <subscribe_by_default>1</subscribe_by_default>
            </notifications>
        </points>
    </default>

</config>
