<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Qcprice>
            <version>0.1.0</version>
        </Mage_Qcprice>
    </modules>
    <admin>
        <routers>
			<qcprice>
				<use>admin</use>
				<args>
					<module>Mage_Qcprice</module>
					<frontName>qcprice</frontName>
				</args>
			</qcprice>
        </routers>
    </admin>
    <adminhtml>		
		<layout>
			<updates>
				<qcprice>
					<file>qcprice.xml</file>
				</qcprice>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <qcprice>
                <class>Mage_Qcprice_Model</class>
                <resourceModel>qcprice_mysql4</resourceModel>
            </qcprice>
            <qcprice_mysql4>
                <class>Mage_Qcprice_Model_Mysql4</class>
                <entities>
                    <qcprice>
                        <table>qcprice</table>
                    </qcprice>
					<qrange>
                        <table>qcprice_qrange</table>
                    </qrange>
                </entities>
            </qcprice_mysql4>
        </models>
        <resources>
            <qcprice_setup>
                <setup>
                    <module>Mage_Qcprice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qcprice_setup>
            <qcprice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qcprice_write>
            <qcprice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qcprice_read>
        </resources>
        <blocks>
            <qcprice>
                <class>Mage_Qcprice_Block</class>
            </qcprice>
        </blocks>
        <helpers>
            <qcprice>
                <class>Mage_Qcprice_Helper</class>
            </qcprice>
        </helpers>
    </global>
</config>