<?xml version="1.0"?>
<config>
    <modules>
        <AW_FBIntegrator>
            <version>2.1.4</version><platform>ce</platform>
        </AW_FBIntegrator>
    </modules>
    <frontend>
        <translate>
            <modules>
                <AW_FBIntegrator>
                    <files>
                        <default>AW_FBIntegrator.csv</default>
                    </files>
                </AW_FBIntegrator>
            </modules>
        </translate>
        <routers>
            <fbintegrator>
                <use>standard</use>
                <args>
                    <module>AW_FBIntegrator</module>
                    <frontName>fbintegrator</frontName>
                </args>
            </fbintegrator>
        </routers>
        <secure_url>
            <fbintegrator>/fbintegrator/</fbintegrator>
        </secure_url>
        <layout>
            <updates>
                <fbintegrator>
                    <file>fbintegrator.xml</file>
                </fbintegrator>
            </updates>
        </layout>
        <events>
            <sales_order_save_after>
                <observers>
                    <fbintegrator>
                        <type>singleton</type>
                        <class>AW_FBIntegrator_Model_Observer</class>
                        <method>updateWall</method>
                    </fbintegrator>
                </observers>
            </sales_order_save_after>
            
            <controller_action_postdispatch_wishlist_index_update>
                <observers>
                    <fbintegrator>
                        <type>singleton</type>
                        <class>AW_FBIntegrator_Model_Observer</class>
                        <method>shareWishlistViaFacebook</method>
                    </fbintegrator>
                </observers>
            </controller_action_postdispatch_wishlist_index_update>
           
            
        </events>
    </frontend>
    <admin>
        <routers>
            <fbintegrator>
                <use>admin</use>
                <args>
                    <module>AW_FBIntegrator</module>
                    <frontName>fbintegrator</frontName>
                </args>
            </fbintegrator>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <customer_delete_before>
                <observers>
                    <fbintegrator>
                        <type>singleton</type>
                        <class>AW_FBIntegrator_Model_Observer</class>
                        <method>deleteUser</method>
                    </fbintegrator>
                </observers>
            </customer_delete_before>
        </events>
        <translate>
            <modules>
                <AW_FBIntegrator>
                    <files>
                        <default>AW_FBIntegrator.csv</default>
                    </files>
                </AW_FBIntegrator>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fbintegrator>
                                            <title>aheadWorks - Facebook Link</title>
                                        </fbintegrator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <fbintegrator>
                    <file>fbintegrator.xml</file>
                </fbintegrator>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <fbintegrator>
                <class>AW_FBIntegrator_Model</class>
                <resourceModel>fbintegrator_mysql4</resourceModel>
            </fbintegrator>
            <fbintegrator_mysql4>
                <class>AW_FBIntegrator_Model_Mysql4</class>
                <entities>
                    <users>
                        <table>aw_fb_users</table>
                    </users>
                    <like>
                        <table>aw_fb_like</table>
                    </like>
                </entities>
            </fbintegrator_mysql4>
        </models>
        <resources>
            <fbintegrator_setup>
                <setup>
                    <module>AW_FBIntegrator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fbintegrator_setup>
            <fbintegrator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fbintegrator_write>
            <fbintegrator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fbintegrator_read>
        </resources>
        <blocks>
            <fbintegrator>
                <class>AW_FBIntegrator_Block</class>
            </fbintegrator>
        </blocks>
        <helpers>
            <fbintegrator>
                <class>AW_FBIntegrator_Helper</class>
            </fbintegrator>
        </helpers>
    </global>
    <default>
        <fbintegrator>
            <general>
                <enabled>1</enabled>
            </general>
            <wall>
                <enabled>1</enabled>
                <post_message>I've just purchased {items_count} item(s) at Magento Store {store_link}</post_message>
                <post_link_template>View {item_name} for {item_price} {item_link}</post_link_template>
                <items_count>0</items_count>
                <picture>1</picture>
                <wishlist_share_message><![CDATA[I have some items in my wishlist at Magento Store
                {store_link}
                
                {wishlist_link}
                ]]></wishlist_share_message>
            </wall>
            <like>
                <enabled>1</enabled>
                <width>330</width>
                <send>1</send>
            </like>
            <like_counting>
                <delay>3</delay>
                <max_like_count>5</max_like_count>
                <time>3600</time>
            </like_counting>
        </fbintegrator>
    </default>
</config>
