<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Colors>
            <version>0.1.0</version>
        </Mage_Colors>
    </modules>
    <admin>
        <routers>
			<colors>
				<use>admin</use>
				<args>
					<module>Mage_Colors</module>
					<frontName>colors</frontName>
				</args>
			</colors>
        </routers>
    </admin>
    <adminhtml>		
		<layout>
			<updates>
				<colors>
					<file>colors.xml</file>
				</colors>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <colors>
                <class>Mage_Colors_Model</class>
                <resourceModel>colors_mysql4</resourceModel>
            </colors>
            <colors_mysql4>
                <class>Mage_Colors_Model_Mysql4</class>
                <entities>
                    <colors>
                        <table>colors</table>
                    </colors>
                </entities>
            </colors_mysql4>
        </models>
        <resources>
            <colors_setup>
                <setup>
                    <module>Mage_Colors</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </colors_setup>
            <colors_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </colors_write>
            <colors_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </colors_read>
        </resources>
        <blocks>
            <colors>
                <class>Mage_Colors_Block</class>
            </colors>
        </blocks>
        <helpers>
            <colors>
                <class>Mage_Colors_Helper</class>
            </colors>
        </helpers>
    </global>
</config>