<?xml version="1.0"?>
<config>
    <modules>
        <I95DevConnect_CustomerCredits>
            <version>0.1.0</version>
        </I95DevConnect_CustomerCredits>
    </modules>
    <frontend>
        <routers>
            <customercredits>
                <use>standard</use>
                <args>
                    <module>I95DevConnect_CustomerCredits</module>
                    <frontName>CustomerCredits</frontName>
                </args>
            </customercredits>
        </routers>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <i95devconnect_customercredits before="Mage_Checkout">I95DevConnect_CustomerCredits_Checkout</i95devconnect_customercredits>
                    </modules> 
                </args> 
            </checkout> 
        </routers>
        <layout>
            <updates>
                <customercredits>
                    <file>customercredits.xml</file>
                </customercredits>
            </updates>
        </layout>
        <translate>
            <modules>
                <I95DevConnect_Customercredits>
                    <files>
                        <default>I95DevConnect_Customercredits.csv</default>
                    </files>
                </I95DevConnect_Customercredits>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <customercredits>
                <use>admin</use>
                <args>
                    <module>I95DevConnect_CustomerCredits</module>
                    <frontName>customercredits</frontName>
                </args>
            </customercredits>
        </routers>
    </admin>
    <adminhtml>
	
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customercredits>
                                            <title>Setit Section</title>
                                        </customercredits>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <I95DevConnect_CustomerCredits>
                            <title>CustomerCredits Module</title>
                            <sort_order>10</sort_order>
                        </I95DevConnect_CustomerCredits>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <customercredits>
                    <file>customercredits.xml</file>
                </customercredits>
            </updates>
        </layout>        
    </adminhtml>
    
    <adminhtml>
        <layout>
            <updates>
                <customercredits>
                    <file>customercredits.xml</file>
                </customercredits>
            </updates>
        </layout>
         <translate>
            <modules>
                <I95DevConnect_Customercredits>
                    <files>
                        <default>I95DevConnect_Customercredits.csv</default>
                    </files>
                </I95DevConnect_Customercredits>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <customercredits>
                <class>I95DevConnect_CustomerCredits_Block</class>
            </customercredits>
            <adminhtml>
                <rewrite>                  
                    <sales_order_view>I95DevConnect_CustomerCredits_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
                <rewrite>                  
                    <sales_order_totals>I95DevConnect_CustomerCredits_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                </rewrite>				
                <rewrite>
                    <sales_order_invoice_totals>I95DevConnect_CustomerCredits_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                </rewrite>
            </adminhtml>     
        </blocks>

        <models>
            <customercredits>
                <class>I95DevConnect_CustomerCredits_Model</class>
                <rewrite>
                    <creditprocessor>I95DevConnect_CustomerCredits_Model_Creditprocessor</creditprocessor>
                </rewrite>
                <resourceModel>customercredits_mysql4</resourceModel>
            </customercredits>
            <customercredits_mysql4>
                <class>I95DevConnect_CustomerCredits_Model_Mysql4</class>
                <entities>
                    <customercredits>
                        <table>i95dev_customer_credits</table>
                    </customercredits>
                </entities>
            </customercredits_mysql4>

            <customercreditshistory>
                <class>I95DevConnect_CustomerCredits_Model</class>
                <rewrite>
                    <creditprocessor>I95DevConnect_CustomerCredits_Model_Creditprocessor</creditprocessor>
                </rewrite>
                <resourceModel>customercreditshistory_mysql4</resourceModel>
            </customercreditshistory>
            <customercreditshistory_mysql4>
                <class>I95DevConnect_CustomerCredits_Model_Mysql4</class>
                <entities>
                    <customercredits_history>
                        <table>i95dev_customercredits_payment_history</table>
                    </customercredits_history>
                </entities>
            </customercreditshistory_mysql4>
            <customercredits>
                <class>I95DevConnect_CustomerCredits_Model</class>
            </customercredits>
        </models>
	
        <resources>
            <customercredits_setup>
                <setup>
                    <module>I95DevConnect_CustomerCredits</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customercredits_setup>
            <customercredits_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customercredits_write>
            <customercredits_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customercredits_read>
        </resources>
        <blocks>
            <customercredits>
                <class>I95DevConnect_CustomerCredits_Block</class>
                <rewrite>
                    <customercredits>I95DevConnect_CustomerCredits_Block_CustomerCredits</customercredits>
                </rewrite>
            </customercredits>

            <payment>
                <customercredits>
                    <class>I95DevConnect_CustomerCredits_Block_Form</class>
                </customercredits>
            </payment>
            <onepage_payment_methods>I95DevConnect_CustomerCredits_Block_Onepage_Payment_Methods</onepage_payment_methods>
        </blocks>
        <helpers>
            <customercredits>
                <class>I95DevConnect_CustomerCredits_Helper</class>
            </customercredits>            
            
        </helpers>
        <sales>
            <quote>
                <totals>
                    <i95devconnect_customercredits>
                        <class>I95DevConnect_CustomerCredits_Model_Total_Quote_CustomerCredits</class>
                        <after>subtotal</after>
                        <before>grand_total</before>
                    </i95devconnect_customercredits>
                </totals>
            </quote>
        
            <order_invoice>
                <totals>
                    <i95devconnect_customercredits>
                        <class>I95DevConnect_CustomerCredits_Model_Total_Invoice_CustomerCredits</class>                       
                        <after>shipping</after>
                    </i95devconnect_customercredits>
                </totals>
            </order_invoice>
        </sales>
        
    </global>
    <default>
        <payment>
            <customercredits>
                <active>0</active>
                <model>customercredits/creditprocessor</model>
                <order_status>processing</order_status>
                <title>Customer Credit</title>
                <customer_group_access>0</customer_group_access>
                <customer_group>0</customer_group>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <payment_action>authorize</payment_action>
            </customercredits>
        </payment>
    </default>
    <global>
       
        <events>
            <checkout_cart_update_items_after>
                <observers>
                    <i95devconnect_customercredits>
                        <class>I95DevConnect_CustomerCredits_Model_Observer</class>
                        <method>cartUpdate</method>
                    </i95devconnect_customercredits>
                </observers>
            </checkout_cart_update_items_after>
                    
           
            <checkout_controller_onepage_save_shipping_method>  
                <observers>
                    <i95dev_customercredits>
                        <type>singleton</type>
                        <class>I95DevConnect_CustomerCredits_Model_Observer</class>
                        <method>updateActualTotal</method>
                    </i95dev_customercredits>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
           
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <i95dev_customercredits>
                        <type>singleton</type>
                        <class>I95DevConnect_CustomerCredits_Model_Observer</class>
                        <method>adminSalesOrderBefore</method>
                    </i95dev_customercredits>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <i95dev_before_service_call_before>
                <observers>
                    <i95devconnect_customercredits>
                        <class>I95DevConnect_CustomerCredits_Model_Observer</class>
                        <method>creditsave</method>
                    </i95devconnect_customercredits>
                </observers>
            </i95dev_before_service_call_before>
        </events> 
   
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <I95DevConnect_CustomerCredits_Adminhtml before="Mage_Adminhtml">I95DevConnect_CustomerCredits_Adminhtml</I95DevConnect_CustomerCredits_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
