<?xml version="1.0"?>
<!--
/**
 * Grow Development - Store Locations Pro
 *
 * @category   Growdevelopment
 * @package    Growdevelopment_StoreLocations
 * @copyright  Copyright (c) 2012 Grow Development (http://www.growdevelopment.com)
 * @license    http://www.growdevelopment.com/docs/eula.txt
 * @author     Daniel Espinoza <modules@growdevelopment.com>
 *
 */
-->
<config>
   <modules>
        <Growdevelopment_Storelocations>
			<version>1.1.0</version>
    	</Growdevelopment_Storelocations>
    </modules>
    <admin>
    	<routers>
    		<adminhtml>
    			<args>
    				<modules>
    					<growdevstorelocations after="Mage_Adminhtml">Growdevelopment_Storelocations_Adminhtml</growdevstorelocations>
					</modules>
    			</args>
    		</adminhtml>
    	</routers>
    </admin>
    <frontend>
    	<routers>
    		<store-locations>
    			<use>standard</use>
    			<args>
    				<module>Growdevelopment_Storelocations</module>
    				<frontName>store-locations</frontName>
    			</args>
    		</store-locations>	
    	</routers>
    	<layout>
    		<updates>
    			<storelocations>
    				<file>growdev-storelocations.xml</file>
    			</storelocations>
    		</updates>
    	</layout>
    </frontend>
	<adminhtml>
    <layout>
    	<updates>
    		<storelocations>
    			<file>growdev-storelocations.xml</file>
    		</storelocations>
    	</updates>
    </layout>
	</adminhtml>
    <global>
    	<blocks>
    		<growdevstorelocations>
    			<class>Growdevelopment_Storelocations_Block</class>
    		</growdevstorelocations>
    		<growdev_adminhtml>
    			<class>Growdevelopment_Storelocations_Adminhtml_Block</class>
    		</growdev_adminhtml>
    	</blocks>
        <models>
            <storelocation>
                <class>Growdevelopment_Storelocations_Model</class>
                <resourceModel>storelocation_mysql4</resourceModel>
            </storelocation>
            <storelocation_mysql4>
                <class>Growdevelopment_Storelocations_Model_Mysql4</class>
                <entities>
                    <storelocation>
                        <table>growdevelopment_storelocation</table>
                    </storelocation>
                </entities>
            </storelocation_mysql4>
            <storeproduct>
                <class>Growdevelopment_Storelocations_Model</class>
                <resourceModel>storeproduct_mysql4</resourceModel>
            </storeproduct>
            <storeproduct_mysql4>
                <class>Growdevelopment_Storelocations_Model_Mysql4</class>
                <entities>
                    <storeproduct>
                        <table>growdevelopment_storelocation_products</table>
                    </storeproduct>
                </entities>
            </storeproduct_mysql4>
        </models>
        <resources>
            <growdevstorelocations_setup>
                <setup>
                    <module>Growdevelopment_Storelocations</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </growdevstorelocations_setup>
            <growdevstorelocations_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </growdevstorelocations_write>
            <growdevstorelocations_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </growdevstorelocations_read>
        </resources>
    	<helpers>
    		<growdevstorelocations>
    			<class>Growdevelopment_Storelocations_Helper</class>
    		</growdevstorelocations>
    	</helpers>
    </global>
    <default>
	    <growdevstorelocations>
        	<storelocationsconfig>
        		<grow_search_active>1</grow_search_active>
				<grow_page_layout>one_column</grow_page_layout>
				<grow_miles_or_km>mi</grow_miles_or_km>
				<grow_base_zoom>9</grow_base_zoom>
        	</storelocationsconfig>
        	<locationsconfig>
        		<grow_listing_active>1</grow_listing_active>
				<grow_listing_page_layout>two_columns_left</grow_listing_page_layout>
				<grow_display_limiter>1</grow_display_limiter>
				<grow_locations_display>grid</grow_locations_display>
				<grow_per_page>6</grow_per_page>
			</locationsconfig>	
			<locationsdetailsconfig>
				<grow_details_page_layout>two_columns_left</grow_details_page_layout>
				<grow_show_map>1</grow_show_map>
				<grow_show_directions>1</grow_show_directions>
			</locationsdetailsconfig>
	    </growdevstorelocations>
    </default>
</config>