<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Qrange>
            <version>0.1.0</version>
        </Mage_Qrange>
    </modules>
    <frontend>
        <routers>
            <qrange>
                <use>standard</use>
                <args>
                    <module>Mage_Qrange</module>
                    <frontName>qrange</frontName>
                </args>
            </qrange>
        </routers>
        <layout>
            <updates>
                <qrange>
                    <file>qrange.xml</file>
                </qrange>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<qrange>
				<use>admin</use>
				<args>
					<module>Mage_Qrange</module>
					<frontName>qrange</frontName>
				</args>
			</qrange>
        </routers>
    </admin>
    <adminhtml>		
		<layout>
			<updates>
				<qrange>
					<file>qrange.xml</file>
				</qrange>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <qrange>
                <class>Mage_Qrange_Model</class>
                <resourceModel>qrange_mysql4</resourceModel>
            </qrange>
            <qrange_mysql4>
                <class>Mage_Qrange_Model_Mysql4</class>
                <entities>
                    <qrange>
                        <table>qrange</table>
                    </qrange>
                </entities>
            </qrange_mysql4>
        </models>
        <resources>
            <qrange_setup>
                <setup>
                    <module>Mage_Qrange</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qrange_setup>
            <qrange_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qrange_write>
            <qrange_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qrange_read>
        </resources>
        <blocks>
            <qrange>
                <class>Mage_Qrange_Block</class>
            </qrange>
        </blocks>
        <helpers>
            <qrange>
                <class>Mage_Qrange_Helper</class>
            </qrange>
        </helpers>
    </global>
</config>