<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_Affiliate>
            <version>1.0.2</version><platform>ce</platform>
        </AW_Affiliate>
    </modules>
    <global>
        <helpers>
            <awaffiliate>
                <class>AW_Affiliate_Helper</class>
            </awaffiliate>
        </helpers>
        <models>
            <awaffiliate>
                <class>AW_Affiliate_Model</class>
                <resourceModel>awaffiliate_mysql4</resourceModel>
            </awaffiliate>
            <awaffiliate_mysql4>
                <class>AW_Affiliate_Model_Resource</class>
                <entities>
                    <campaign>
                        <table>aw_affiliate_campaign</table>
                    </campaign>
                    <profit>
                        <table>aw_affiliate_profit</table>
                    </profit>
                    <profit_tier_rate>
                        <table>aw_affiliate_profit_tier_rate</table>
                    </profit_tier_rate>
                    <affiliate>
                        <table>aw_affiliate_affiliate</table>
                    </affiliate>
                    <client>
                        <table>aw_affiliate_client</table>
                    </client>
                    <client_history>
                        <table>aw_affiliate_client_history</table>
                    </client_history>
                    <withdrawal_request>
                        <table>aw_affiliate_withdrawal_request</table>
                    </withdrawal_request>
                    <transaction_withdrawal>
                        <table>aw_affiliate_transaction_withdrawal</table>
                    </transaction_withdrawal>
                    <transaction_profit>
                        <table>aw_affiliate_transaction_profit</table>
                    </transaction_profit>
                    <traffic_source>
                        <table>aw_affiliate_traffic_source</table>
                    </traffic_source>
                </entities>
            </awaffiliate_mysql4>
        </models>
        <resources>
            <awaffiliate_setup>
                <setup>
                    <module>AW_Affiliate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awaffiliate_setup>
            <awaffiliate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awaffiliate_write>
            <awaffiliate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awaffiliate_read>
        </resources>
        <blocks>
            <awaffiliate>
                <class>AW_Affiliate_Block</class>
            </awaffiliate>
        </blocks>
        <events>
            <sales_order_place_after>
                <observers>
                    <awaffiliate_order_place_after>
                        <type>singleton</type>
                        <class>awaffiliate/observer</class>
                        <method>orderPlaced</method>
                    </awaffiliate_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_save_after>
                <observers>
                    <awaffiliate_invoice_pay>
                        <type>singleton</type>
                        <class>awaffiliate/observer</class>
                        <method>invoicePay</method>
                    </awaffiliate_invoice_pay>
                </observers>
            </sales_order_invoice_save_after>
            <customer_save_commit_after>
                <observers>
                    <awaffiliate_customer_save>
                        <type>singleton</type>
                        <class>awaffiliate/observer</class>
                        <method>customerSaveAfter</method>
                    </awaffiliate_customer_save>
                </observers>
            </customer_save_commit_after>
            <awaffiliate_withdrawal_request_save_commit_after>
                <observers>
                    <awaffiliate_withdrawal_request_save>
                        <type>singleton</type>
                        <class>awaffiliate/observer</class>
                        <method>withdrawalRequestSaveAfter</method>
                    </awaffiliate_withdrawal_request_save>
                </observers>
            </awaffiliate_withdrawal_request_save_commit_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <awaffiliate_check_prototype>
                        <type>singleton</type>
                        <class>awaffiliate/observer</class>
                        <method>checkPrototype</method>
                    </awaffiliate_check_prototype>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <template>
            <email>
                <awaffiliate_notification_new_withdrawal_template translate="label" module="awaffiliate">
                    <label>AW_Affiliate New withdrawal request template</label>
                    <file>awaffiliate/AW_Affiliate_notification_new_withdrawal_template.html</file>
                    <type>html</type>
                </awaffiliate_notification_new_withdrawal_template>
                <awaffiliate_notification_withdrawal_succeed_template translate="label" module="awaffiliate">
                    <label>AW_Affiliate Withdrawal request succeed template</label>
                    <file>awaffiliate/AW_Affiliate_notification_withdrawal_succeed_template.html</file>
                    <type>html</type>
                </awaffiliate_notification_withdrawal_succeed_template>
                <awaffiliate_notification_withdrawal_failed_template translate="label" module="awaffiliate">
                    <label>AW_Affiliate Withdrawal request failed template</label>
                    <file>awaffiliate/AW_Affiliate_notification_withdrawal_failed_template.html</file>
                    <type>html</type>
                </awaffiliate_notification_withdrawal_failed_template>
            </email>
        </template>
        <index>
            <indexer>
                <awaffiliate_affiliate_balance>
                    <model>awaffiliate/indexer_affiliatebalance</model>
                </awaffiliate_affiliate_balance>
            </indexer>
        </index>
    </global>
    <frontend>
        <translate>
            <modules>
                <AW_Affiliate>
                    <files>
                        <default>AW_Affiliate.csv</default>
                    </files>
                </AW_Affiliate>
            </modules>
        </translate>
        <layout>
            <updates>
                <awaffiliate module="awaffiliate">
                    <file>aw_affiliate.xml</file>
                </awaffiliate>
            </updates>
        </layout>
        <routers>
            <awaffiliate>
                <use>standard</use>
                <args>
                    <module>AW_Affiliate</module>
                    <frontName>affiliate</frontName>
                </args>
            </awaffiliate>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <aw_affiliate_all_controllers_predispatch>
                        <type>singleton</type>
                        <class>AW_Affiliate_Model_Observer</class>
                        <method>allFrontControllersPredispatch</method>
                    </aw_affiliate_all_controllers_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
        <events>
            <customer_login>
                <observers>
                    <aw_affiliate_customer_login>
                        <type>singleton</type>
                        <class>AW_Affiliate_Model_Observer</class>
                        <method>customerLogin</method>
                    </aw_affiliate_customer_login>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <admin>
        <routers>
            <awaffiliate_admin>
                <use>admin</use>
                <args>
                    <module>AW_Affiliate</module>
                    <frontName>affiliate_admin</frontName>
                </args>
            </awaffiliate_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Affiliate>
                    <files>
                        <default>AW_Affiliate.csv</default>
                    </files>
                </AW_Affiliate>
            </modules>
        </translate>
        <menu>
            <awaffiliate module="awaffiliate">
                <title>Magento Affiliate</title>
                <sort_order>72</sort_order>
                <children>
                    <campaigns translate="title" module="awaffiliate">
                        <title>Campaigns</title>
                        <action>awaffiliate_admin/adminhtml_campaign/index</action>
                        <sort_order>10</sort_order>
                    </campaigns>
                    <affiliates translate="title" module="awaffiliate">
                        <title>Manage Affiliates</title>
                        <action>awaffiliate_admin/adminhtml_affiliate/index</action>
                        <sort_order>20</sort_order>
                    </affiliates>
                    <withdrawal translate="title" module="awaffiliate">
                        <title>Withdrawals</title>
                        <action>awaffiliate_admin/adminhtml_withdrawal/index</action>
                        <sort_order>30</sort_order>
                    </withdrawal>
                    <settings translate="title" module="awaffiliate">
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/awaffiliate</action>
                        <sort_order>40</sort_order>
                    </settings>
                </children>
            </awaffiliate>
        </menu>
        <enterprise>
            <admingws>
                <collection_load_before>
                    <awaffiliate__campaign_collection>addStoreFilter</awaffiliate__campaign_collection>
                    <awaffiliate__customer_collection>addStoreFilter</awaffiliate__customer_collection>
                    <awaffiliate__withdrawal_request_collection>addStoreFilter</awaffiliate__withdrawal_request_collection>
                </collection_load_before>
            </admingws>
        </enterprise>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <awaffiliate translate="title" module="awaffiliate">
                            <title>AW Affiliate</title>
                            <sort_order>10</sort_order>
                            <children>
                                <campaigns translate="title">
                                    <title>Campaigns</title>
                                    <sort_order>0</sort_order>
                                </campaigns>
                                <affiliates translate="title">
                                    <title>Affiliates</title>
                                    <sort_order>10</sort_order>
                                </affiliates>
                                <withdrawal translate="title">
                                    <title>Withdrawals</title>
                                    <sort_order>20</sort_order>
                                </withdrawal>
                                <settings translate="title">
                                    <title>Settings</title>
                                    <sort_order>30</sort_order>
                                </settings>
                            </children>
                        </awaffiliate>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awaffiliate translate="title">
                                            <title>aheadWorks - AW Affiliate Section</title>
                                        </awaffiliate>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <awaffiliate module="awaffiliate">
                    <file>aw_affiliate.xml</file>
                </awaffiliate>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <awaffiliate_predispatch_config_save>
                        <type>singleton</type>
                        <class>awaffiliate/observer</class>
                        <method>beforeConfigurationSave</method>
                    </awaffiliate_predispatch_config_save>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <admin_system_config_changed_section_awaffiliate>
                <observers>
                    <awaffiliate_config_save_after>
                        <type>singleton</type>
                        <class>awaffiliate/observer</class>
                        <method>afterConfigurationSave</method>
                    </awaffiliate_config_save_after>
                </observers>
            </admin_system_config_changed_section_awaffiliate>
        </events>
    </adminhtml>
    <default>
        <awaffiliate>
            <general>
                <rewrite_affiliate_cookie>0</rewrite_affiliate_cookie>
                <consider_tax>0</consider_tax>
            </general>
            <notification>
                <enable>0</enable>
                <email_sender>general</email_sender>
                <new_withdrawal_template>awaffiliate_notification_new_withdrawal_template</new_withdrawal_template>
                <withdrawal_succeed_template>awaffiliate_notification_withdrawal_succeed_template
                </withdrawal_succeed_template>
                <withdrawal_failed_template>awaffiliate_notification_withdrawal_failed_template
                </withdrawal_failed_template>
            </notification>
            <withdrawals>
                <minimum_amount>0</minimum_amount>
                <minimum_period>0</minimum_period>
            </withdrawals>
        </awaffiliate>
    </default>
</config>
