<?xml version="1.0"?>
	<config>
    <modules>
        <Magestore_Printcolormanagement>
            <version>0.1.0</version>
        </Magestore_Printcolormanagement>
    </modules>
    <frontend>
        <routers>
            <printcolormanagement>
                <use>standard</use>
                <args>
                    <module>Magestore_Printcolormanagement</module>
                    <frontName>printcolormanagement</frontName>
                </args>
            </printcolormanagement>
        </routers>
        <layout>
            <updates>
                <printcolormanagement>
                    <file>printcolormanagement.xml</file>
                </printcolormanagement>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <printcolormanagement>
                <use>admin</use>
                <args>
                    <module>Magestore_Printcolormanagement</module>
                    <frontName>printcolormanagement</frontName>
                </args>
            </printcolormanagement>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
			<magestore translate="title" module="printcolormanagement">
                <title>Personalize</title>
                <sort_order>15</sort_order>
                <children>				
					<printcolormanagement module="printcolormanagement">		
						<title>Manage Printable Color</title>		
						<sort_order>10</sort_order>          
						<action>printcolormanagement/adminhtml_printcolormanagement</action>
					</printcolormanagement>
				</children>
			</magestore>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <printcolormanagement>
                            <title>Printcolormanagement Module</title>
                            <sort_order>200</sort_order>
                        </printcolormanagement>
                    </children>
                </admin>
            </resources>   
        </acl>-->
        <layout>
            <updates>
                <printcolormanagement>
                    <file>printcolormanagement.xml</file>
                </printcolormanagement>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <printcolormanagement>
                <class>Magestore_Printcolormanagement_Model</class>
                <resourceModel>printcolormanagement_mysql4</resourceModel>
            </printcolormanagement>
            <printcolormanagement_mysql4>
                <class>Magestore_Printcolormanagement_Model_Mysql4</class>
                <entities>
                    <printcolormanagement>
                        <table>printablecolor_management</table>
                    </printcolormanagement>
                </entities>
            </printcolormanagement_mysql4>
        </models>
        <resources>
            <printcolormanagement_setup>
                <setup>
                    <module>Magestore_Printcolormanagement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </printcolormanagement_setup>
            <printcolormanagement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </printcolormanagement_write>
            <printcolormanagement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </printcolormanagement_read>
        </resources>
        <blocks>
            <printcolormanagement>
                <class>Magestore_Printcolormanagement_Block</class>
            </printcolormanagement>
        </blocks>
        <helpers>
            <printcolormanagement>
                <class>Magestore_Printcolormanagement_Helper</class>
            </printcolormanagement>
        </helpers>
    </global>
</config>