<?xml version="1.0"?>
<config>
    <modules>
        <Unirgy_GiftcertPro>
            <version>1.0.1</version>
            <usimpleup remote="http://download.unirgy.com/simple/client_api/version/"
                       changelog="http://unirgy.com/support/portal/announcements"/>
        </Unirgy_GiftcertPro>
    </modules>
    <global>
        <models>
            <ugiftcertpro>
                <class>Unirgy_GiftcertPro_Model</class>
            </ugiftcertpro>
        </models>
        <resources>
            <ugiftcertpro_setup>
                <setup>
                    <module>Unirgy_GiftcertPro</module>
                    <class>Unirgy_GiftcertPro_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ugiftcertpro_setup>
            <ugiftcertpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ugiftcertpro_write>
            <ugiftcertpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ugiftcertpro_read>
        </resources>
        <helpers>
            <ugiftcertpro>
                <class>Unirgy_GiftcertPro_Helper</class>
            </ugiftcertpro>
        </helpers>
        <blocks>
            <ugiftcertpro>
                <class>Unirgy_GiftcertPro_Block</class>
            </ugiftcertpro>
            <ugiftcert>
                <rewrite>
                    <cart_item>Unirgy_GiftcertPro_Block_Cart_Item</cart_item>
                </rewrite>
            </ugiftcert>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <Unirgy_GiftcertPro>
                    <files>
                        <default>Unirgy_GiftcertPro.csv</default>
                    </files>
                </Unirgy_GiftcertPro>
            </modules>
        </translate>
        <layout>
            <updates>
                <ugiftcertpro module="Unirgy_GiftcertPro">
                    <file>ugiftcertpro.xml</file>
                </ugiftcertpro>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Unirgy_GiftcertPro>
                    <files>
                        <default>Unirgy_GiftcertPro.csv</default>
                    </files>
                </Unirgy_GiftcertPro>
            </modules>
        </translate>
        <layout>
            <updates>
                <ugiftcertpro module="Unirgy_GiftcertPro">
                    <file>ugiftcertpro.xml</file>
                </ugiftcertpro>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <ugiftcertpro>
                        <class>ugiftcertpro/observer</class>
                        <method>catalog_product_prepare_save</method>
                    </ugiftcertpro>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
    <default>
        <ugiftcert>
            <email>
                <ugiftcert_variants>1</ugiftcert_variants>
            </email>
        </ugiftcert>
    </default>
</config>
