
/* Look at you user page */
.customerpictures{}
.customerpictures .top-main{margin-bottom:15px}
.customerpictures .top-main .user-info{width:40%; float:left}
.customerpictures .top-main .upload{width:59%; float:left}
.user-info .avatar {
    background: url("images/avatar-back.gif") no-repeat scroll left top transparent;
    height: 132px;
    padding: 4px 4px 4px 5px;
    width: 116px;
	cursor:pointer
}
.avatar-image{width:115px; height:130px; }

/* Upload Image */
.qq-uploader { position:relative; width: 100%;}
.qq-upload-button {
    display:block; /* or inline-block */
    padding: 7px 0; 
	text-align:center;    
    background:black;
	color:white;
	font-size:16px
}
.avatar .qq-upload-button {
    display:block; /* or inline-block */
    width: 116px; 
	text-align:center;
	height:130px;
	background:none;
	border:none;
	padding:0;
	cursor:pointer;
	text-indent: -999em;
}
.qq-upload-button-hover {cursor:pointer}
.qq-upload-button-focus {}
.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}
.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}
.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

/* Edit Image */
.main-image{float:left; width:310px}
.image-info{float:left; margin-left:30px; width:345px}
.image-form{margin-top:15px}
.image-form .input-box{margin-bottom:5px}
.image-form .input-box .input-text{width:210px}
.image-form .input-box textarea{width:210px; height:100px}

.customerpictures-image-list .limiter{float:left; margin-left:5px; padding-left:5px; border-left:1px solid #cdcdcd}
.customerpictures-image-list .limiter ol, .customerpictures-image-list .limiter ol li{display:inline; margin-right:3px}
.images-grid .product-image{
	text-align:center;
}
.images-grid li.item{
	padding-top:10px !important;
	padding: 0 0 20px;
}
.customerpictures-image-list .pager .pages{float:right; margin:0}
.customerpictures-image-list .sort-by{float:left; margin-left:120px}
.customerpictures-image-list .sort-by ul, .customerpictures-image-list .sort-by ul li{display:inline; margin:0px 3px}
.customerpictures-image-list .sort-by ul li.first{border-right:1px solid #cdcdcd; padding-right:5px}
.image-control{padding:0px 10px}
.image-control .control a.first{border-right:1px solid #cdcdcd; padding-right:3px; margin-right:3px}
.col1-layout .customerpictures-image-list ul.images-grid{width:auto}
.col1-layout .customerpictures-image-list .sort-by{margin-left:235px}
.picture-status{position:absolute; top:5px; right:0; background:#000; padding:3px 5px; color:white; opacity:0.6; filter:alpha(opacity=60);}
.1column-page .facebook-like-count{}
.picture-view .main-picture{float:left}
.picture-view .main-picture img{border:1px solid #cdcdcd; margin-bottom:5px}
.picture-view .picture-info{float:left; width:415px}
.picture-view .picture-title{margin: 25px 0px 15px 0px}
.picture-view .picture-description{margin-bottom:15px}
.picture-view .view-all{margin-top:30px}
.picture-view .facebook-like-count{float:left}
.picture-view .image-date{float:right; margin-right:80px; margin-top:2px}
.top-banner .banner{position:relative; float:left; width:520px; text-align:center; padding:15px 0px; font-size:15px}
.top-banner .banner h1{margin-bottom:10px}
.top-banner .banner button{margin-top:30px; border: none; background: black; padding: 8px 10px; font-size:16px; color:white; cursor:pointer}
.current-winner{float:right; width:300px}
.current-winner .name {float: left; font-size: 15px; padding: 48px 0; text-align: center; width: 158px; margin: 10px 0; border-left:2px solid #cdcdcd}
.current-winner .pic-win{float:right; margin-left:10px}
.winner-title-page {text-align:center; margin:30px 0 50px}
.customerpictures .user-all{margin-bottom:30px}
.calcel-account{margin:20px; text-align:center}
.calcel-account button{border:none; font-size:16px; background: black; color:white; padding: 10px 20px; cursor:pointer}
.term-content{margin:0px 0px 15px; border:1px solid #cdcdcd; padding:10px; background:#F6F6F6}
.progress .qq-upload-size{display:block !important; line-height:20px}
/* Begin [JMO] */
.model-banner {margin: 0 0 20px 0;}
.model-banner img {max-width: 100%;}
/* End [JMO] */