<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Fontmanagement>
            <version>0.1.0</version>
        </Magestore_Fontmanagement>
    </modules>
    <frontend>
        <routers>
            <fontmanagement>
                <use>standard</use>
                <args>
                    <module>Magestore_FontManagement</module>
                    <frontName>fontmanagement</frontName>
                </args>
            </fontmanagement>
        </routers>
        <layout>
            <updates>
                <fontmanagement>
                    <file>fontmanagement.xml</file>
                </fontmanagement>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fontmanagement>
				<use>admin</use>
				<args>
					<module>Magestore_Fontmanagement</module>
					<frontName>fontmanagement</frontName>
				</args>
			</fontmanagement>
        </routers>
    </admin>
    <adminhtml>		
		<layout>
			<updates>
				<fontmanagement>
					<file>fontmanagement.xml</file>
				</fontmanagement>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <fontmanagement>
                <class>Magestore_Fontmanagement_Model</class>
                <resourceModel>fontmanagement_mysql4</resourceModel>
            </fontmanagement>
            <fontmanagement_mysql4>
                <class>Magestore_Fontmanagement_Model_Mysql4</class>
                <entities>
                    <addfont>
                        <table>fontmanagement</table>
                    </addfont>
					<fontcategory>
                        <table>font_category</table>
                    </fontcategory>
                </entities>
            </fontmanagement_mysql4>
        </models>
        <resources>
            <fontmanagement_setup>
                <setup>
                    <module>Magestore_Fontmanagement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fontmanagement_setup>
            <fontmanagement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fontmanagement_write>
            <fontmanagement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fontmanagement_read>
        </resources>
        <blocks>
            <fontmanagement>
                <class>Magestore_Fontmanagement_Block</class>
            </fontmanagement>
        </blocks>
        <helpers>
            <fontmanagement>
                <class>Magestore_Fontmanagement_Helper</class>
            </fontmanagement>
        </helpers>
    </global>
</config>